# trani test valid split

In [1]:
import os
import pandas as pd

In [2]:
data_dir = '../dataset/kaggle_rsna(only100)/imgs'
df = pd.read_csv('stage_1_train_cls_only100.csv')

In [3]:
df.head()

,filename,epidural,intraparenchymal,intraventricular,subarachnoid,subdural,any,patient_id,study_instance_uid,series_instance_uid,image_position,samples_per_pixel,pixel_spacing,pixel_representation,window_center,window_width,rescale_intercept,rescale_slope,Position2,slice_id
0,ID_d3eaf5452,0,0,0,0,0,0,ID_a449357f,ID_62d125e5b2,ID_0be5c0d1b3,"['-125', '-8', '5.19995117']",1,"['0.48828125', '0.48828125']",0,"['00036', '00036']","['00080', '00080']",-1024.0,1.0,5.199951,0
1,ID_84cd9c956,0,0,0,0,0,0,ID_a449357f,ID_62d125e5b2,ID_0be5c0d1b3,"['-125', '-8', '10.1999512']",1,"['0.48828125', '0.48828125']",0,"['00036', '00036']","['00080', '00080']",-1024.0,1.0,10.199951,1
2,ID_53ec1c229,0,0,0,0,0,0,ID_a449357f,ID_62d125e5b2,ID_0be5c0d1b3,"['-125', '-8', '15.1999512']",1,"['0.48828125', '0.48828125']",0,"['00036', '00036']","['00080', '00080']",-1024.0,1.0,15.199951,2
3,ID_6a0764005,0,0,0,0,0,0,ID_a449357f,ID_62d125e5b2,ID_0be5c0d1b3,"['-125', '-8', '20.1999512']",1,"['0.48828125', '0.48828125']",0,"['00036', '00036']","['00080', '00080']",-1024.0,1.0,20.199951,3
4,ID_272504a24,0,0,0,0,0,0,ID_a449357f,ID_62d125e5b2,ID_0be5c0d1b3,"['-125', '-8', '25.1999512']",1,"['0.48828125', '0.48828125']",0,"['00036', '00036']","['00080', '00080']",-1024.0,1.0,25.199951,4

In [4]:
train_fns = df.study_instance_uid.unique()[20:]
valid_fns = df.study_instance_uid.unique()[10:20]
test_fns = df.study_instance_uid.unique()[:10]

train_df = df[df.study_instance_uid.isin(train_fns)]
valid_df = df[df.study_instance_uid.isin(valid_fns)]
test_df  = df[df.study_instance_uid.isin(test_fns)]

train_df.to_csv('./train.csv', index=None)
valid_df.to_csv('./valid.csv', index=None)
test_df.to_csv('./test.csv', index=None)

train_df.shape, valid_df.shape, test_df.shape

((2760, 20), (336, 20), (333, 20))

In [17]:
train_df.head()

,filename,epidural,intraparenchymal,intraventricular,subarachnoid,subdural,any,patient_id,study_instance_uid,series_instance_uid,image_position,samples_per_pixel,pixel_spacing,pixel_representation,window_center,window_width,rescale_intercept,rescale_slope,Position2,slice_id
669,ID_7e11ea124,0,0,0,0,0,0,ID_6b257d60,ID_b574dc579f,ID_d5bea7a164,"['-125.000000', '-85.797981', '-60.335361']",1,"['0.488281', '0.488281']",1,30,80,-1024.0,1.0,-60.335361,0
670,ID_fd64b3539,0,0,0,0,0,0,ID_6b257d60,ID_b574dc579f,ID_d5bea7a164,"['-125.000000', '-85.797981', '-54.942684']",1,"['0.488281', '0.488281']",1,30,80,-1024.0,1.0,-54.942684,1
671,ID_7f15b0c37,0,0,0,0,0,0,ID_6b257d60,ID_b574dc579f,ID_d5bea7a164,"['-125.000000', '-85.797981', '-49.550014']",1,"['0.488281', '0.488281']",1,30,80,-1024.0,1.0,-49.550014,2
672,ID_60820ff67,0,0,0,0,0,0,ID_6b257d60,ID_b574dc579f,ID_d5bea7a164,"['-125.000000', '-85.797981', '-44.157337']",1,"['0.488281', '0.488281']",1,30,80,-1024.0,1.0,-44.157337,3
673,ID_b2ba0706d,0,0,0,0,0,0,ID_6b257d60,ID_b574dc579f,ID_d5bea7a164,"['-125.000000', '-85.797981', '-38.765362']",1,"['0.488281', '0.488281']",1,30,80,-1024.0,1.0,-38.765362,4

In [8]:
new_dir = '../dataset/kaggle_rsna(only100)/'

In [25]:
from shutil import copy
from tqdm import tqdm

def copy_data(phase, filenames):
    
    origin_data_path = '../dataset/kaggle_rsna(only100)/imgs/'
    new_data_path = '../dataset/kaggle_rsna(only100)/'
    
    if not phase in ['train/', 'test/', 'valid/']:
        raise ValueError('not supported phase [{}]'.format(phase))
    
    new_data_path += phase    
    if not os.path.exists(new_data_path):
        os.mkdir(new_data_path)
    
    for filename in tqdm(filenames):
        origin_dir = origin_data_path + filename +'.png'
        new_dir = new_data_path + filename + '.png'
        
        copy(origin_dir, new_dir)

copy_data('train/', train_df.filename)
copy_data('test/', test_df.filename)
copy_data('valid/', valid_df.filename)

100%|██████████| 2760/2760 [00:02<00:00, 1130.52it/s]
100%|██████████| 333/333 [00:00<00:00, 813.03it/s]
100%|██████████| 336/336 [00:00<00:00, 852.26it/s]